In [2]:
import pandas as pd
import numpy as np

###### Question 1
What's the version of Pandas that you installed?

In [3]:
pd.__version__

'2.0.3'

###### Getting the data

In [5]:
df = pd.read_csv("housing.csv")

###### Question 2
How many columns are in the dataset?

In [7]:
df.shape

(20640, 10)

In [33]:
print("Columns:", df.shape[1])

Columns: 10

###### Question 3
Which columns in the dataset have missing values?

In [9]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

###### Question 4
How many unique values does the ocean_proximity column have?

In [10]:
df['ocean_proximity'].nunique()

5

In [11]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [12]:
df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

###### Question 5
What's the average value of the median_house_value for the houses located near the bay?

In [13]:
average_median_house_value_near_bay = df[df['ocean_proximity'] == 'NEAR BAY']['median_house_value'].mean()
print("Average Median House Value Near Bay:", average_median_house_value_near_bay)

Average Median House Value Near Bay: 259212.31179039303

###### Question 6
1. Calculate the average of total_bedrooms column in the dataset.
2. Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
3. Now, calculate the average of total_bedrooms again.
4. Has it changed?

In [15]:
average_total_bedrooms = df['total_bedrooms'].mean()
print("Average Total Bedrooms:", average_total_bedrooms)

Average Total Bedrooms: 537.8705525375618

In [16]:
df['total_bedrooms'].fillna(average_total_bedrooms, inplace=True)

In [17]:
new_average_total_bedrooms = df['total_bedrooms'].mean()
print("New Average Total Bedrooms:", new_average_total_bedrooms)

New Average Total Bedrooms: 537.8705525375617

###### Question 7
1. Select all the options located on islands.
2. Select only columns housing_median_age, total_rooms, total_bedrooms.
3. Get the underlying NumPy array. Let's call it X.
4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
5. Compute the inverse of XTX.
6. Create an array y with values [950, 1300, 800, 1000, 1300].
7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
8. What's the value of the last element of w?

In [18]:
island_options = df[df['ocean_proximity'] == 'ISLAND']

In [19]:
island_options

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
8314,-118.32,33.35,27.0,1675.0,521.0,744.0,331.0,2.1579,450000.0,ISLAND
8315,-118.33,33.34,52.0,2359.0,591.0,1100.0,431.0,2.8333,414700.0,ISLAND
8316,-118.32,33.33,52.0,2127.0,512.0,733.0,288.0,3.3906,300000.0,ISLAND
8317,-118.32,33.34,52.0,996.0,264.0,341.0,160.0,2.7361,450000.0,ISLAND
8318,-118.48,33.43,29.0,716.0,214.0,422.0,173.0,2.6042,287500.0,ISLAND

In [20]:
selected_columns = island_options[['housing_median_age', 'total_rooms', 'total_bedrooms']]

In [21]:
selected_columns

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [25]:
(df['ocean_proximity'] == 'ISLAND').sum()

5

In [26]:
# 3
X = selected_columns.values

In [27]:
# 4
XTX = X.T.dot(X)

In [28]:
# 5
XTX_inverse = np.linalg.inv(XTX)

In [29]:
# 6
y = np.array([950, 1300, 800, 1000, 1300])

In [30]:
# 7
w = XTX_inverse.dot(X.T).dot(y)

In [32]:
# 8
last_element_of_w = w[-1]
last_element_of_w

5.699229455065575